:root {
    /* colors */
    --primary-color: hsl(223, 87%, 63%);
    --secondary-pale-blue: hsl(223, 100%, 88%);
    --secondary-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-dark-blue: hsl(209, 33%, 12%);

    /* font */
    --f-family: "Libre Franklin", sans-serif;
    --f-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-family: var(--f-family);
    font-size: 11px; 
    text-align: center; 
    margin: 20px 0;
}
    
.attribution a { 
    color: var(--primary-color); 
    font-family: var(--f-family)
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.title {
    font-family: var(--f-family);
    font-size: 48px;
    color:var(--neutral-gray);
    font-weight: 300;
    letter-spacing: 2px;
    margin: 40px 0 16px 0;
}

span {
    color: var(--neutral-dark-blue);
    font-weight: 700;
}

.subscribe {
    font-family: var(--f-family);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--neutral-dark-blue);
    margin-bottom: 40px;
}

.user-email {
    width: 421px;
    height: 56px;
    border: 1px solid var(--secondary-pale-blue);
    border-radius: 30px;
    padding: 0 20px;
}

::placeholder {
    color: var(--secondary-pale-blue);
    font-weight: 300;
    font-size: var(--f-size);
}

.notify {
    width: 200px;
    height: 56px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: var(--f-size);
}

.illustraton {
    width: 640px;
    height: 383px;
    margin: 94px 0 72px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-brands {
    border: 1px solid var(--secondary-pale-blue);
    padding: 8px;
    border-radius: 50%;
    margin: 25px 10px;
}

.fa-facebook-f {
    padding-left: 11px;
    padding-right: 10px;
}

.copy-right {
    font-size: 12px;
    font-weight: 300;
    font-family: var(--f-family);
    color: var(--neutral-gray)
}

#message {
    font-size: 20px;
    color:var(--secondary-red);
    font-weight: 600;
    margin: 10px 0 0 20px;
}