@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap')

:root {
    /* colors */
    --primary-color: hsl(223, 87%, 63%);
    --secondary-pale-blue: hsl(223, 100%, 88%);
    --secondary-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-dark-blue: hsl(209, 33%, 12%);

    /* font */
    --f-family: "Libre Franklin", san-serif;
    --f-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-family: "Libre Franklin", san-serif;;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.title {
    font-size: 48px;
    color: hsl(0, 0%, 59%);
}

